<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Visualization Principles</title>
  <!-- Include Tailwind CSS via CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans text-gray-800 bg-white p-5">    
  <div class="max-w-4xl mx-auto">
    <header>
      <div class="container">
        <h1 class="text-3xl font-bold text-center my-4">Data Visualization Principles</h1>
        <p class="subtitle"><em>What is visualizing data?</em></p>
      </div>
    </header>

    <main class="font-sans text-gray-800 bg-white p-5">

      <div>
        <h1 class="text-xl font-bold text-center my-4">Be clear about what you're showing</h1>
        <p><em>Labels, units, filters, views</em></p>
          <p><a class="hover:bg-purple-100 text-grey py-1 px-3 rounded transition-colors" href="apps/basic_principles.html">What are you showing?</a></p>
          <p><a class="hover:bg-purple-100 text-grey py-1 px-3 rounded transition-colors" href="apps/purpose.html">What's the story you're telling?</a></p>
      </div>


      <div>
        <h1 class="text-xl font-bold text-center my-4">Pick the right viz for your data</h1>
        <p><em>Labels, units, filters, views</em></p>
          <p><a class="hover:bg-purple-100 text-grey py-1 px-3 rounded transition-colors" href="apps/events_and_ts.html">Data with time</a></p>
          <p><a class="hover:bg-purple-100 text-grey py-1 px-3 rounded transition-colors" href="apps/segments_and_percentages.html">Segments and Percentages</a></p>
          <p><a class="hover:bg-purple-100 text-grey py-1 px-3 rounded transition-colors" href="apps/distributions.html">Distributions</a></p>
      </div>

    </main>
</body>
</html>